.home-page {
  padding: 20px;
}

.search-bar {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
}

.hero-banner {
  height: 55vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 18px;
  display: flex;
  align-items: center;
  padding: 40px;
  color: white;
  margin-bottom: 30px;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 18px;
}

.movie-card {
  background: #020617;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.movie-card h3 {
  font-size: 14px;
  padding: 6px;
  text-align: center;
}

.movie-card p {
  font-size: 12px;
  text-align: center;
  color: #cbd5f5;
}

.fav-btn {
  width: 100%;
  background: #e50914;
  border: none;
  color: white;
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.fav-btn.added {
  background: #16a34a;
}

@media (max-width: 768px) {
  .hero-banner {
    height: 40vh;
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .movie-card img {
    height: 220px;
  }
}
