.carousel-section {
  margin: 30px 0;
}

.carousel-section h3 {
  margin-bottom: 12px;
}

.carousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
  height: 6px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 10px;
}
