.movie-card {
  background: #020617;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.movie-info {
  padding: 10px;
  color: white;
}

.movie-info h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.movie-info p {
  font-size: 12px;
  opacity: 0.8;
}
