/* COMMON GRID FOR ALL MOVIES */
.movie-grid,
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Movie card */
.movie-card {
  background: #020617;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.movie-card p {
  padding: 10px;
  font-size: 14px;
  color: #e5e7eb;
  text-align: center;
}
body.dark {
  background-color: #020617;
  color: #e5e7eb;
}
body.dark {
  background-color: #020617;
  color: white;
}

body.dark .movie-card {
  background: #020617;
}

body.dark .search-bar input {
  background: #020617;
  color: white;
  border: 1px solid #444;
}
